<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <meta charset="utf-8" />

        <title>@ViewBag.Title</title>

        <link href="~/Content/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/bootstrap/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/extra.css" rel="stylesheet" type="text/css" />

        <script type="text/javascript" src="~/Scripts/jquery-3.1.1.min.js"></script>
        <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
        <script type="text/javascript" src="~/Scripts/knockout-3.4.1.js"></script>
        <script type="text/javascript" src="~/Scripts/extra.js"></script>
    </head>
    <body>
        <div>
            @RenderBody()
        </div>
    </body>
</html>
